h4,
h5,
h6 {
  font-family: Lato, proxima-nova, Helvetica Neue, Arial, sans-serif;
}

h4 {
  font-size: 1.1rem;
}

h5,
h6 {
  font-size: 1rem;
}

h6 {
  text-style: italic;
}

.rst-content h4,
.rst-content h5,
.rst-content h6 {
  margin-bottom: 0.5rem;
  color: #606060;
}
